/* Copia y pega el código de importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

a.nav-link {
    color: #d9dada;
    font-family: 'Lilita One', cursive;
    font-size: 20px;
}

a.nav-link:hover {
    color: #61a375;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #d9dada;
    --bs-nav-pills-link-active-bg: #61a375 !important;
}

:root{
    --bs-link-color: #61a375;
    --bs-link-hover-color: #61a375;
}

.fondo_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 89%;
    background-image: url(/images/tablet_1.png);
    background-size: cover;
    background-position: center;
}

.container_video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 47%; /* Proporción 16:9 (ajustable según tus necesidades) */
    margin-right: 8%;
  }

.video {
    position: absolute;
    top: 5.4%;
    left: 3.7%;
    width: 86%;
    height: 90.7%;
  }