/* Copia y pega el código de importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
a.nav-link {
    color: #d9dada;
    font-family: 'Lilita One', cursive;
    font-size: 20px;
}
a.nav-link:hover {
    color: #61a375;
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #d9dada;
    --bs-nav-pills-link-active-bg: #61a375 !important;
}
:root{
    --bs-link-color: #61a375;
    --bs-link-hover-color: #61a375;
}
.video_test {
    top: 186px;
}
.frame{
    height: 580px;
    width: 813px;
  }
@media (max-width: 767px) {
    /* Aquí puedes agregar los estilos específicos para pantallas pequeñas */
  }
  
@media (min-width: 992px) and (max-width: 1079px) {
    /* Aquí puedes agregar los estilos específicos para pantallas grandes */
    .video_test {
        left: 489px;
    }
  }
@media (min-width: 1080px) and (max-width: 1899px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 489px;
    }
  }
@media (min-width: 1900px) and (max-width: 1920px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 517px;
    }
   }
@media (min-width: 1921px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 800px;
    }    
  }