/* Copia y pega el código de importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

a.nav-link {
    color: #d9dada;
    font-family: 'Lilita One', cursive;
    font-size: 20px;
}

a.nav-link:hover {
    color: #61a375;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #d9dada;
    --bs-nav-pills-link-active-bg: #61a375 !important;
}

:root{
    --bs-link-color: #61a375;
    --bs-link-hover-color: #61a375;
}
.tour-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF80;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.card:hover .tour-overlay{
    width: 100%;
}
.text-overlay{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}