/* Copia y pega el código de importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@400;700&display=swap');
a.nav-link {
    color: #d9dada;
    font-family: 'Lilita One', cursive;
    font-size: 20px;
}
body{
  font-family: 'Quicksand', sans-serif;
}
a.nav-link:hover {
    color: #61a375;
}
.continua{
  color: #61a375;
  font-weight: bold;
  padding: 15px 0;
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #d9dada;
    --bs-nav-pills-link-active-bg: #61a375;
}
:root{
    --bs-link-color: #61a375;
    --bs-link-hover-color: #61a375;
}
.video_test {
    top: 186px;
}
.frame{
    height: 580px;
    width: 813px;
}
.copyr{
  justify-content: center;
  display: flex;
}
.tour-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF80;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.card-services{
  align-items: center !important;
}
.card:hover .tour-overlay{
  width: 100%;
}
.text-overlay{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
div.row-banner{
--bs-gutter-x: 0;
}
.text-primary {
  color: #ef7f1a!important;
}
.description-arquitectura{
  background-image: url("http://localhost/public/images/arquitectura_opacity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 50px;
}
.description-inmobiliario{
  background-image: url("http://localhost/public/images/inmobiliaria-opacity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 50px;
}
.beneficios{
  display: flex;
  align-items: center;
}
.container-servicios{
  font-size: larger;
}
.carousel-inner{
  margin: 2% 2% 2% 0;
  padding: 0 5% 0 5%;
}
.servicios-title{
  color:  #61a375!important;
  font-weight: bolder;
}
.description-inmobiliario img{
  width: 50%;
}
/* Aquí puedes agregar los estilos específicos para pantallas de dispositivos móviles */
  @media screen and (max-width: 370px) and (max-width: 411px) {
    
    .video_test {
        left: 16px !important;
    }
    .frame{
        height: 210px !important;
        width: 309px !important;
      }
    .video_test {
        top: 274px !important;
    }
    div .hide-on-mobile {
      display: none !important;
    }
    .container-servicios{
      font-size: 5px;
    }
  }

/* Aquí puedes agregar los estilos específicos para desktop*/
@media (max-width: 412px) and (max-width: 991px) {
    /* Aquí puedes agregar los estilos específicos para pantallas pequeñas */
    .video_test {
        left: 17px;
    }
    .frame{
        height: 239px;
        width: 335px;
      }
    .video_test {
        top: 220px;
    }
    a.nav-link {
        font-size: 15px;
    }
    div .hide-on-mobile {
      display: none !important;
    }
  }
@media (min-width: 992px) and (max-width: 1349px) {
    /* Aquí puedes agregar los estilos específicos para portatil */
    .video_test {
        left: 212px;
    }
  }
@media (min-width: 1350px) and (max-width: 1399px) {
    /* Aquí puedes agregar los estilos específicos para portatil MAC */
    .video_test {
        left: 262px;
    }
  }
@media (min-width: 1400px) and (max-width: 1499px) {
    /* Aquí puedes agregar los estilos específicos para pantallas grandes */
    .video_test {
        left: 212px;
    }
  }
@media (min-width: 1500px) and (max-width: 1899px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 489px;
    }
  }
@media (min-width: 1900px) and (max-width: 1949px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 518px;
    }
   }
@media (min-width: 1950px) {
    /* Aquí puedes agregar los estilos específicos para pantallas muy grandes */
    .video_test {
        left: 800px;
    }    
  }